---
layout: default
---

<div id="main-ctn">
    <div id="intro">
        <img src="images/headshot.jpeg">
        <div>
            <div id="text">
                <h2>Hi there! I'm Andy Lin.</h2>
                <h4>Experience obsessed iOS Software Engineer</h4>
            </div>
        </div>
    </div>
    <div id="experience-grid">
        <div>
            <h2>Projects</h2>
            {% assign projects_with_screenshots = site.projects | where_exp: "project", "project.screenshots" %}
            {% for project in projects_with_screenshots limit:3 %}
            <div class="project_item homepage_project">
                <div>
                    {% if project.link %}
                    <a href="{{ project.link }}">
                        <h3>{{ project.title }}</h3>
                    </a>
                    {% else %}
                    <h3>{{ project.title }}</h3>
                    {% endif %}
                    {{ project.content }}
                </div>
                {% include homepage_project_screenshots.html project=project %}
                <div class="homepage_project_page_screenshots">
                    {% include project_page_screenshots.html project=project variant="homepage" %}
                </div>
            </div>
            {% endfor %}
            <a href="projects.html">See more...</a>
        </div>
    </div>
</div>
