---
layout: default
title: Projects
---

<div id="main-ctn">
  <h1>Projects</h1>
  <h3>
    <i>A list of projects that I have created over the years</i>
  </h3>
  <br>

  {% assign academic_projects = site.projects | where: "subcategory", "academic" %}
  {% assign personal_projects = site.projects | where: "subcategory", "personal" %}
  {% assign open_source_projects = site.projects | where: "subcategory", "open-source" %}
  <h3>Personal Projects</h3>
  {% for project in personal_projects %}
    {% if project.link %}
      <a href={{ project.link }}>
        <h4>{{ project.title }}</h4>
      </a>
    {% else %}
      <h4>{{ project.title }}</h4>
    {% endif %}
    {{ project.content }}
  {% endfor %}

  <h3>Open Source Projects I Contributed to</h3>

  {% for project in open_source_projects %}
    {% if project.link %}
      <a href={{ project.link }}>
        <h4>{{ project.title }}</h4>
      </a>
    {% else %}
      <h4>{{ project.title }}</h4>
    {% endif %}
    {{ project.content }}
  {% endfor %}

  <h3>Academic Projects</h3>

  {% for project in academic_projects %}
    {% if project.link %}
      <a href={{ project.link }}>
        <h4>{{ project.title }}</h4>
      </a>
    {% else %}
      <h4>{{ project.title }}</h4>
    {% endif %}
    {{ project.content }}
  {% endfor %}
</div>