<!DOCTYPE html>
<html>

<head>
    {% if page.title %}
    <title>{{ page.title }} – Andy Lin</title>
    {% else %}
    <title>Andy Lin</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#304D6D" />
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <script type="text/javascript" src="script.js"></script>
</head>

<body>
    <div id="navbar">
        <div id="show-menu">
            <input type="checkbox" id="show-menu-btn" name="show_menu">
            <div id="menu-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
            </div>
        </div>
        <h1><a href="index.html">Andy Lin</a></h1>
        <h1 id="dummy"></h1>
        <div id="navbar-links" class="">
            <a href="projects.html">Projects</a>
            <a target="_blank" rel="noopener noreferrer" href="AndyLin_Resume.pdf">Resume</a>
        </div>
    </div>
    {{ content }}
    <div id="bottom-bar">
        <p><i>Copyright Andy Lin <span id="copyright_year">2024</span></i></p>
        <div>
            {% if site.github_username %}
            <a target="_blank" rel="noopener noreferrer" href="http://github.com/{{ site.github_username }}"><img src="images/github-mark-white.png"></a>
            {% endif %}
            {% if site.linkedin_username %}
            <a target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/andylin2004"><img src="images/linkedin-logo.png"></a>
            {% endif %}
            {% if site.email %}
            <a href="mailto:{{ site.email }}"><img src="images/mail.svg" class="invert"></a>
            {% endif %}
        </div>
        <i><a href="privacy.html">Privacy Policy</a></i>
    </div>
</body>
</html>